/*
 @font-face {
	 font-family:"Lato Black";
	 src:url("../main/__fonts/Lato-Black/Lato-Black.eot?") format("eot"),url("../main/__fonts/Lato-Black/Lato-Black.woff") format("woff"),url("../main/__fonts/Lato-Black/Lato-Black.ttf") format("truetype"),url("../main/__fonts/Lato-Black/Lato-Black.svg#Lato-Black") format("svg");
	 font-weight:normal;
	 font-style:normal;}
*/
