#calendar table tr th{
	background-color: rgb(231,87,53);
	border-collapse: collapse;
	font-family: lato;
	font-size: 9px;
	color: white;
	height: 27px;
}

#calendar table{
	border-collapse: collapse;
	text-align: center;
}
#calendar table tr td{
	background-color: rgb(242,242,242);
	border: 1px solid white;
	width: 39px;
	height: 39px;
	font-family: myriad pro;
	color: rgb(134,134,134);
	font-size: 20px;
}
.today{
	background-color: rgb(231,87,53) !important;
	color: white !important;
}