.progress {
	width: 100%;
	max-width: 800px;
	margin: 30px auto 0;
	display: table;
	position: relative;
	text-align: center;
	left: 4%;
}
.progress ul {  
	display: table-row;
}
.progress ul li {
	background-color: rgb(229,229,229);
	display: table-cell;
	position: relative;
	line-height: -1px
	z-index: -3;
	color: rgb(161,161,161);
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	text-align: left;
}
.progress ul li::before {
	content:'';
	width: 29px;
	height: 29px;
	color: #FFF;
	line-height: 30px;
	text-align: center;
	left: -11px;
	background-color: rgb(229,229,229);
	border: solid 5px rgb(229,229,229);
	position: absolute;
	display: block;
	top: -10px;	
	margin-right: auto;
	margin-left: auto;
	z-index: -1;
	
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}
.progress ul li:last-of-type {
	background-color: transparent;
}
.progress ul li.complete {
	background-color: #0e90d2; /* Completed Step Bar Color */
	transition: background-color 0.75s, color 0.5s;
}
.progress ul li.complete::before {
	background-color: #0e90d2; /* Completed Step Circle Color */
	border: 5px solid transparent;
	transition: background-color 0.75s, color 0.5s;
}