h2(style='margin-left: 304px;margin-top: 29px; margin-bottom:0;') SLIDERS
.slider-box
  ._slider-orange-box
    ._slider-orange-cloud
    ._slider-orange-cloud-triangle
    span._slider-orange-value 1
    input._slider-orange(type='range', value='1', min='1', max='100', step='1')
  ._slider-aqua-box
    input._slider-aqua(type='range', value='1', min='1', max='100', step='1', style='s', data-thumb_position='50%')
    ._slider-aqua-text
      span 1
      span 25
      span 50
      span 75
      span 100