h2(style='margin-left: 292px; margin-top: 44px') LOCATION
.map-box
  #map(style='width:594px; height:203px')
  .map-info-box
    span.map-call-words Meet us!
    p.map-addres
      | FRUNZE 92
      br
      |  TOMSK CITY
    .map-myLocation
    .map-pin