.message-window-box
    .message-window-name
      p Sarah Brown
    .message-window-darkline
      .message-window-photo
    .message-window-messageSpace
      .chat-icon
      .camera-icon
      .incoming-message
        p Hey! So are we cool to meet at the art gallery? Say 8pm
      .output-message
        form(action='post')
          textarea#message-text(name='message-text')
          input.message-reply-button.__button._button_color-aqua.ripp(type='submit', value='REPLY')