h2(style='margin-top: 503px; margin-left: 310px;') VIDEO
.video-position
  iframe#ytplayer(type='text/html', width='594', height='337', src='https://www.youtube.com/embed/M7lc1UVf-VE', frameborder='0', allowfullscreen='')