._button_color-red {
	background: white;
	color: rgb(231, 87, 53);
	box-shadow: 0 3px rgb(191, 62, 31);
	outline: none;
	border: 1px solid rgb(231, 87, 53);
	transition-duration: .2s;
}

._button_color-red:active {
	transform: translate(0, 3px);
	box-shadow: 0px 0px;
}
._button_color-red:hover{
	background: rgb(231, 87, 53);
	color: white;
	border: none;
	transition: all .2s ease;
}