h2(style='margin-left: 240px; margin-top: 81px; ') STANDARD   BUTTONS
#buttons
	button.__button._button_color-aqua.button-margin.small-button-margin BUTTON
	button.__button._button_color-aqua._button_size-big.ripp.button-margin BUTTON
	button.__button._button_color-red._button_size-big.button-margin BUTTON
	button.__button._button_color-red.button-margin.small-button-margin BUTTON