br
br
br
br
h2(style='margin-left: 215px; margin-top: 45px;letter-spacing: 1px;') PERCENTAGES / PIE CHART
#percentage-box
  svg#percentage1._percentage._percentage_animation(width='100', height='100')
    circle(cx='50', cy='50', r='46', fill='none', stroke='#f77a52', stroke-width='5px')
    text#percentage_text1._percentage_text(data-percent='0', transform='rotate(90)', x='37', y='-37')
  svg#percentage2._percentage._percentage_animation(width='100', height='100')
    circle(cx='50', cy='50', r='46', fill='none', stroke='#f77a52', stroke-width='5px')
    text#percentage_text2._percentage_text(data-percent='38', transform='rotate(90)', x='28', y='-37')
  svg#percentage3._percentage._percentage_animation(width='100', height='100')
    circle(cx='50', cy='50', r='46', fill='none', stroke='#f77a52', stroke-width='5px')
    text#percentage_text3._percentage_text(data-percent='62', transform='rotate(90)', x='28', y='-37')
  svg#percentage4._percentage._percentage_animation(width='100', height='100')
    circle(cx='50', cy='50', r='46', fill='none', stroke='#f77a52', stroke-width='5px')
    text#percentage_text4._percentage_text(data-percent='89', transform='rotate(90)', x='28', y='-37')
  svg#pie_svg._pie-chart._pie-chart_animation(width='100', height='100')
    circle(cx='50', cy='50', r='39.5', fill='none', stroke='rgb(229,229,229)', stroke-width='17px')