.developer-position
    h2(style='width: 200px; margin-left: 69px;') USER   PROFILE
    .developer-box
      .developer-photo
      .developer-cloud
        p.developer-name John Smith
        p.developer-spec UX DESIGNER
        a(href='#')
          .fb-button
        a(href='#')
          .twitter-button
        a(href='')
          .dribbble-button