.event-box
  #event-image1
  .event-content-box
    p.event-date
      span.event-date-day 24
      |  Aug
    p.event-title THIS IS THE TITLE
    p.event-content Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    button.__button._button_color-aqua.ripp.button-event ADD TO CALENDAR