div
    h2(style='margin-left: 77px; margin-top: 326px; width: 230px;') SEARCH / DROP DOWN
    #search-container(style='width: 294px;')
      div
        input#search-box1.search-box(type='text', placeholder='Search')
        span.search-box-button
          svg.loupe(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='14px', height='14px')
            path(fill-rule='evenodd', fill='rgb(255, 255, 255)', d='M13.392,13.539 C12.844,14.088 11.955,14.088 11.406,13.539 L7.864,9.997 C5.920,11.126 3.396,10.877 1.731,9.213 C-0.252,7.229 -0.252,4.013 1.731,2.030 C3.715,0.046 6.931,0.046 8.914,2.030 C10.493,3.608 10.793,5.959 9.859,7.856 L13.474,11.471 C14.023,12.019 13.941,12.991 13.392,13.539 ZM7.631,3.313 C6.356,2.037 4.289,2.037 3.014,3.313 C1.739,4.588 1.739,6.655 3.014,7.930 C4.289,9.205 6.356,9.205 7.631,7.930 C8.907,6.655 8.907,4.588 7.631,3.313 Z')
      .select-box
        select.select(name='select')
          option(value='0', disabled='', selected='') Choose An Option
          option(value='1') option 1
          option(value='2') option 2
          option(value='3') option 3
        .select-box-button