.news-box
  #news-photo1
  .news-content-box
    p.news-theme
      | It’s all going downhill
    p.news-date 24 AUGUST 2013
    p.news-content
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.