input[type="email"] {
	background-color: rgb(229, 229, 229);
	border: none;
	border-radius: 3px;
	height: 28px;
	width: 210px;
	color: rgb(136, 136, 136);
	font-family: 'Myriad Pro', Regular;
	padding-left: 15px;
	box-sizing: border-box;
	margin-bottom: 12px;
}

input[type="email"]::-webkit-input-placeholder {
	color: rgb(136, 136, 136);
	font-family: 'Myriad Pro', Regular;
}

input[type="email"]:-moz-placeholder {
	color: rgb(136, 136, 136);
	font-family: 'Myriad Pro', Regular;
}

input[type="email"]:-ms-input-placeholder {
	color: rgb(136, 136, 136);
	font-family: 'Myriad Pro', Regular;
}
